-e git+https://github.com/bitcraze/crazyflie-clients-python@02271f07c5552c80d0363529eff3b96dcc44c78f#egg=cfclient
-e git+https://github.com/bitcraze/crazyflie-lib-python.git@c7eaabe31612e796fcdcf8511c18d197051e17cd#egg=cflib
Flask==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
PyQt6==6.7.0
PySDL2==0.9.16
PyYAML==6.0.1
Werkzeug==3.0.3
appdirs==1.4.4
blinker==1.8.2
click==8.1.7
flask-sock==0.7.0
freetype-py==2.4.0
h11==0.14.0
hsluv==5.0.4
itsdangerous==2.2.0
kiwisolver==1.4.5
libusb-package==1.0.26.1
numpy==1.26.4
packaging==24.0
pyjoystick==1.2.4
pyqtgraph==0.13.7
pysdl2-dll==2.24.0
pyserial==3.5
pyusb==1.2.1
pyzmq==25.1.2
resource-man==2.2.8
scipy==1.13.1
setuptools==70.0.0
simple-websocket==1.0.0
vispy==0.14.2
wsproto==1.2.0
