<!doctype html>
<html>
  <head>
    <title>Drone</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}"> 
  </head>
  
  <script>
    
    
     var socket = new WebSocket('ws://' + location.host + '/action');
	


     socket.addEventListener('open', function (event) {
	     console.log("[open] Connection established");
     });




     socket.addEventListener('message', function (event) {
	     var data = JSON.parse(event.data);
	     if (data.action == 'score') {
		     document.getElementById('score').textContent = + data.value + " KR";
	     }

       if (data.action == 'goal') {
             alert(data.message);
    }

    if (data.action == 'select_location') {
        // Ask the user for their choice
        var choice = confirm("Next destination is checkpoint " + data.destination_name + ". Do you want to fly through the hard (small) or easy (big) loop?") ? "hard" : "easy";
        // Send the user's choice back to the server
        socket.send(JSON.stringify({ action: 'select_location_choice', choice: choice }));
    }
    
     });
     function sendText(button) {
      var text = button.value; // Get the value of the button
      var message = JSON.stringify({ action: text }); // Convert to JSON
      socket.send(message); // Send the text to the server
    }
   </script>
  <body>
<div id="log"></div>
    <br>

    <div class="container">
      <div class="button-container">
      <h1>Drone Controller</h1>
      <div class="score">
        <h2 id="score">60 KR</h2>
        </div>
      </div>
      <div><button class="btn" value="forward" onclick="sendText(this)">Forward</button></div>
      <div class="button-container">
    <button class="btn" value="left" onclick="sendText(this)">Left</button>
  <button class="btn" value="right" onclick="sendText(this)">Right</button>
  </div>
  <div>
  <button class="btn" value="back" onclick="sendText(this)">Back</button>
</div>
  
  <div class="button-container">
    <button class="btn" value="down" onclick="sendText(this)">Down</button>
    <button class="btn" value="up" onclick="sendText(this)">Up</button>
    </div>

</div>

<div class="container">
  <div class="button-container2" id="btn2-container">
  <button class="btn2" value="take off" onclick="sendText(this)">Take off</button>
  <button class="btn2" value="land" id="landBtn" onclick="sendText(this)">Land</button>
</div>
  


     </body>
    
    
</html>
